button {
  width: 100px;
  background-color: whitesmoke;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 2px lightslategrey;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.like {
  background-color: lightskyblue;
}

.remove {
  background-color: lightpink;
  margin: 20px;
}

.blogItem {
  font-family: sans-serif;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
  width: fit-content;
  padding: 20px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  position: fixed;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  position: fixed;
}

.blogCountStyle {
  text-align: right;
}

.userBlogCount {
  float: right;
  right: 0px;
}

.userViewContainer {
  display: grid;
  width: 200px;
}

.navStyle {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  justify-content: space-around;
  width: auto;
  position: sticky;
  background-color: cornflowerblue;
}